body {
	font-family: Arial;
	color: #272323;
	background-color: #ecf1f9;
	padding: 30px 0;
	width: 70%;
	max-width: 960px;
	margin: 20px auto;
}

section,
header {
	padding: 20px 60px;
}

@media (max-width: 768px) {
	section,
	header {
		padding: 10px 30px;
	}
	ul {
		padding-left: 0;
	}
	body {
		padding: 10px 0;
		width: 95%;
	}
}
@media (max-width: 576px) {
	.hobby {
		flex-basis: 100%;
	}
	.header-center-element {
		margin-left: 0;
	}
}

@media (min-width: 576px) {
	.hobby {
		flex-basis: 50%;
	}
	.header-center-element {
		margin-left: 20px;
	}
}

header {
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.section {
	flex: 1;
	text-align: center;
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 38px;
	margin-top: 0;
	margin-bottom: 6px;
}

span {
	color: rgb(78, 77, 77);
}

h2 {
	font-size: 30px;
	color: rgb(27, 23, 23);
}

ul li {
	margin-bottom: 20px;
}
.profile-picture {
	width: 200px;
	height: 200px;
}
.container {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	background-color: white;
	border-radius: 45px;
}

header address ul {
	font-style: normal;
	list-style: none;
}

.address-line-item-icon {
	width: 16px;
	height: 16px;
	background-color: #0858a3;
	margin-right: 12px;
	padding: 5px;
	vertical-align: middle;
}
.address-line-item {
	font-size: 15px;
	margin-bottom: 16px;
}

.address-line-item-icon {
	border-radius: 13px;
}

.circle {
	border-radius: 50%;
}

.big-font-size {
	font-size: 25px;
}

.hobbies {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.hobby {
	display: flex;
	align-items: flex-start;
	margin-bottom: 45px;
}

.hobby p {
	color: rgb(80, 74, 74);
	line-height: 1.5;
}

.hobby h3 {
	margin-top: 5px;
}

.hobby div {
	margin-left: 20px;
}
.download-cv-link {
	border: 2px solid #0858a3;
	color: black;
	text-decoration: none;
	padding: 15px 20px;
	margin-top: 45px;
	border-radius: 22px;
	display: inline-block;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
}
.header-center-element {
	flex-grow: 1;
}

.download-cv-link:visited {
	border: 2px solid grey;
}

.download-cv-link:hover {
	border: 2px solid #0858a3;
	background-color: #0858a3;
	color: white;
}
.download-cv-link:focus {
	border: 2px solid #0858a3;
	background-color: #0858a3;
	color: white;
}
.download-cv-link {
	transition: background-color 0.5s;
}
.download-cv-link:active {
	text-decoration: underline;
}
